<div class="card">
  <div class="card-header">
    <h1>Редагування способу оплати</h1>
  </div>
  <div class="card-body">
    <%= render 'form', payment_method: @payment_method %>
  </div>
  <div class="card-footer">
    <%= link_to "Показати", @payment_method, class: "btn btn-info" %>
    <%= link_to "Назад", payment_methods_path, class: "btn btn-secondary" %>
  </div>
</div>