<div class="card">
  <div class="card-header">
    <h1><%= t('categories.new')%></h1>
  </div>
  <div class="card-body">
    <%= render 'form', category: @category %>
  </div>
  <div class="card-footer">
    <%= link_to t('common.back'), categories_path, class: "btn btn-secondary" %>
  </div>
</div>